<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~sesciiti/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /~sesciiti/index.html [L]
</IfModule>
